.table {
  display: flex;
  align-items:center ;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: 900;
  background: linear-gradient(to right, #ffffff, #ffffff, #53d9fa, #53d9fa); /* Replace these colors with your preferred ones */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 65px;
}

.table-container {
  width: 800px;
  height: 450px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  overflow-y: auto;
}

.my-table-container {
  width: 1000px;
  height: 390px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  overflow-y: auto;
}

table {
  width: 100%;
  overflow-y: auto;
  border-collapse: collapse;
  white-space: nowrap; /* Prevent line breaks in table cells */
}

thead {
  position: sticky;
  top: 0; /* Stick the header to the top of the container */
  z-index: 1; /* Ensure the header appears above the table body */
}

th, td {
  padding: 12px 21px 12px 21px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis; /* Display ellipsis for overflowing content */
  max-width: 300px; /* Adjust maximum width as needed */
}

th {
  background-color: #f4f4f4;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.create-button, .active-button, .usage-button {
  width: 15%;
  margin-left: 10px;
  border: none;
  background-color: #894DC9;
  color: #ffff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.create-button {
  margin:0px 0px 20px 20px;
}

.table-title {
  color: black;
  background-color: white;
  width: 800px; /* Adjust width as needed */
  height: 550px;
  margin: 0 auto; /* Center horizontally */
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 0;
}

.my-table-title {
  color: black;
  background-color: white;
  width: 1000px; /* Adjust width as needed */
  height: 550px;
  margin: 0 auto; /* Center horizontally */
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 0;
}

.table-title h1 {
  padding-left: 20px;
}

.my-table-title h1 {
  padding-left: 20px;
}

.delete, .edit {
  padding-right:5px;
}

.create-form {
  color: black;
  background-color: white;
  width: 520px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
}

.delete-icon, .edit-icon, .time-icon {
  width: 25px;
  height: auto;
  vertical-align: middle;
  cursor: pointer;
}
