  .edit-link-container {
    color: black;
    background-color: white;
    width: 520px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 0 20px 0 20px;
  }

  .cancel-button {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  