.login-container {
  background-color: #fff;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #894DC9;
  color: #ffff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #894dc9d5;
}
