@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
  box-sizing: border-box;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  background: url('./img/space.jpg') no-repeat center center
    fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}